In [12]:

# Python 3 code to demonstrate
# removing duplicated from list
# using list comprehension + enumerate()
from collections import OrderedDict

# initializing list
test_list = [1, 5, 3, 6, 2, 3, 5, 6, 1]
# print ("The original list is : "     + str(test_list))
 
# using list comprehension + enumerate()
# to remove duplicated
# from list
res = list(OrderedDict.fromkeys(test_list))
res

[1, 5, 3, 6, 2]

In [2]:
pd.DataFrame([1,2,3], columns=['a'])

   a
0  1
1  2
2  3